.container-right {
  flex: 3;
  min-width: 200px;
}

.container-right-nav {
  margin: 20px;
  padding: 1px 10px; /* 第一个上下, 第二个左右 */
  border-radius: 8px;
  background-color: var(--color-night-bg-vice);
  color: var(--color-gray);
}

.container-right-nav a:hover {
  color: var(--color-minor);
}
