/* 搜索框 */
.search-box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#searchInput {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--color-night-bg-vice);
  background-color: var(--color-night-bg-vice);
  color: var(--color-night-text);
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
}

#searchInput:focus {
  outline: none;
  border-color: var(--color-minor);
}

/* 表格 */
table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #333; /* 底部的横线 */
  word-wrap: break-word; /* 允许长单词在必要时换行 */
  white-space: normal; /* 允许文本换行 */
}

th {
  color: var(--color-night-bg);
  background-color: var(--color-main);
  font-weight: bold;
  user-select: none;
}

tbody tr:nth-child(odd) {
  background-color: #2f2f2f;
}

tbody tr:nth-child(even) {
  background-color: #1f1f1f;
}

/* 表格首列左对齐 */
th:first-child,
td:first-child {
  text-align: left;
}

/* 表格非首列居中对齐 */
th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}
